* {
	box-sizing: border-box;
}

html {
	font-family: 'Poppins', sans-serif;
}

body {
	color: white;
	margin: 0;
	padding: 0;
	background: #212121;
	overflow-x: scroll;
}

.header-icons-container {
	position: absolute;
	right: 0;
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
	width: 184px;
	height: 60px;
	border: 1px solid black;
	border-top: 0;
	border-right: 0;
	background: #212121;
	color: #909090;
	border-radius: 0px 0px 0px 25px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header-icon {
	font-size: 30px;
	margin: 0 0 5px 10px;
	filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.25));
}

.language-header {
	display: none;
}

.title-container {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
	height: 133px;
	background: linear-gradient(180deg, #426F76 0%, rgba(34, 56, 103, 0.5) 100%);
	/*background: linear-gradient(180deg, #6A78A2 0%, rgba(51, 71, 103, 0.863646) 100%);*/
}

h1 {
	color: white;
	font-size: 24px;
}

nav  {
	width: 100vw;
	height: 50px;
	background: #000000;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
}

nav ul {
	margin: 0 0 0 auto;
	padding: 0;
	height: 100%;
	width: 100%;
	list-style: none;
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: center;
	gap: 10px;
}

nav li {
	height: 100%;
}

nav a {
	height: 100%;
	color: white;
	text-decoration: none;
	font-weight: 600;
	font-size: 14px;
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
	padding: 8px;
	gap: 5px;
}

.menu {
	display: none;
}

nav li a:hover {
	background: #ffffff;
	color: #000000;
}

.help {
	display: inline-block;
	width: 6vw;
	height: 100%;
	margin-left: auto;
	background: #464B55;
}

.help:hover {
	background: #578392;
}

.help .nav-icons {
	margin: 0;
}

.nav-icons {
	margin: 0px 0px 5px 0px;
	font-size: 1.5vw;
}

footer {
	margin-top: 10%;
	background: #212121;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	box-shadow: 0px -4px 4px rgba(0, 0, 0, 0.2);
}

.footer-nav {
	flex-basis: 20%;
}

.footer-nav ul {
	width: 100%;
}

.footer-nav-title {
	text-decoration: underline;
	text-underline-offset: 10px;
	margin-left: 15px;
	width: 100%;
	margin-bottom: 25px;
}

.footer-nav li + li {
	margin-top: 15px;
}

.footer-nav a {
	font-weight: lighter;
	font-size: 16px;
	line-height: 22px;
	text-decoration: none;
	color: white;
}

.about {
	width: 60%;
	border-right: 1px dashed #C7C7C7;
	border-left: 1px dashed #C7C7C7;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
}

.about p {
	margin-top: 5%;
	width: 70%;
	display: inline-block;
	font-style: normal;
	font-weight: lighter;
	font-size: 15px;
	line-height: 25px;
	text-align: center;
	text-indent: 2px;
}

.about ul {
	margin: auto auto 20px auto;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	width: 45%;
	list-style: none;
	padding: 0;
}

.about a {
	text-decoration: none;
	color: white;
	font-weight: 500;
	font-size: 14px;
	line-height: 18px;
}

.copyrights {
	display: flex;
	align-items: center;
	gap: 5px;
}

.copyrights span {
	font-size: 25px;
	margin-top: 1px;
}

.other {
	flex-basis: 20%;
	position: relative;
}

.language-container {
	width: 100%;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
}

.lang-btn {
	width: 130px;
	height: 37px;
	background: #1F2C3C;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	color: white;
	border: none;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-weight: 600;
	font-size: 14px;
	line-height: 21px;
}

.lang-btn:hover {
	cursor:pointer;
}

.lang-btn span {
	margin-left: 3px;
}

.arrow {
	border: solid white;
	border-width: 0 3px 3px 0;
	display: inline-block;
	padding: 3px;
	margin-right: 5px;
	margin-bottom: 2px;
}

.down {
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
}

.contact-us {
	position: absolute;
	bottom: 8%;
	left: 50%;
	transform: translateX(-50%);
	width: 100px;
	height: 31px;
	font-weight: 600;
	font-size: 12px;
	background: rgba(97, 103, 116, 0.5);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	color: white;
	border: none;
}

.contact-us:hover {
	background: rgba(157, 159, 167, 0.5);
	cursor: pointer;
}

/* Shared styling for the post pages */
.section-nav {
	display: flex;
	flex-flow: row nowrap;
	gap: 15px;
	margin-top: 65px;
	justify-content: center;
}

.section-btn {
	width: 170px;
	height: 44px;
	font-weight: 700;
	font-size: 16px;
	line-height: 24px;
	color: #FFFFFF;
	background: #383838;
	border: 1px solid #6D6D6D;
}

.section-btn:hover {
	cursor: pointer;
}

.section-btn:not(.current):hover {
	background: white;
	color: black;
	border: none;
}

.section-nav .current {
	background: #445768;
	border: 1px solid #5A7A88;
}

.search-sort-container {
	display: flex;
	flex-flow: row nowrap;
	width: 97.6%;
	justify-content: space-between;
	align-items: end;
}

.sort-btn {
	width: 130px;
	height: 37px;
	background: #323232;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	color: white;
	display: flex;
	border: none;
	justify-content: space-between;
	align-items: center;
	font-weight: 600;
	font-size: 14px;
}

.sort-btn:hover {
	cursor:pointer;
}

.sort-btn span {
	margin-left: 3px;
}

.arrow {
	border: solid white;
	border-width: 0 3px 3px 0;
	display: inline-block;
	padding: 3px;
	margin-right: 5px;
	margin-bottom: 2px;
}

.down {
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
}

.search-container {
	display: flex;
	flex-flow: row nowrap;
	width: 365px;
	height: 41px;
	background: #323232;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	margin-top: 6vh;
	margin-left: 2.5vw;
}

.search-icon {
	flex-basis: 25%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #000000;
	border-right: 1px solid #232C2E;
}

.search-icon iconify-icon {
	margin: 0 auto;
	font-size: 25px;
}

.search-container input {
	background: #323232;
	height: 100%;
	width: 100%;
	padding-left: 5px;
	color: white;
	font-size: 14px;
	border: none;
}

.search-container input:focus {
	outline: none;
}

.pagination {
	width: fit-content;
	padding: 0;
	height: 53px;
	margin: 4% auto;
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	background: rgba(38, 40, 43, 0.5);
	border: 1px solid #263035;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 25px;
	list-style-type: none;
}

.pagination li {
	margin: 0;
	font-weight: 400;
	font-size: 20px;
	height: 70%;
	display: flex;
	align-items: center;

}


.pagination li + li {
	border-left: 1px solid #3F3F3F;
}

.pagination li span {
	margin:0px 20px 0px 20px;
	cursor: pointer;
	border-bottom: 1px solid transparent;
	transition: all 0.40s ease-out;
}

.pagination span:hover {
	border-bottom: 1px solid white;
}


/* Responsive css */

/* Media Query for low resolution  Tablets, Ipads */
@media (max-width: 767px) {
	.language-header {
		display: flex;
		align-content: center;
		align-items: center;
		gap: 5px;
		margin-right: auto;
	}

	.language-header span {
		text-decoration: underline;
		text-underline-offset: 3px;
		color: white;
		font-weight: 600;
		font-size: 16px;
	}

	.language-header iconify-icon{
		margin-bottom: 0;
		font-size: 25px;
		color: white;
	}

	.header-icons-container {
		position: relative;
		width: 100%;
		height: 42px;
		border-radius: 0;
		background: #000000;
		justify-content: flex-end;
		gap: 10px;
	}

	.header-icons-container iconify-icon:not(.language-header iconify-icon) {
		margin-right: 5px;
	}

	.title-container {
		justify-content: flex-start;
	}

	.title-container a {
		margin-left: 10px;
	}

	h1 {
		width: 30%;
		font-size: 20px;
	}

	.menu {
		width: 100%;
		text-decoration: none;
		font-style: normal;
		font-weight: bolder;
		font-size: 18px;
		display: flex;
		flex-flow: row ;
		justify-content: center;
		align-items: center;
		padding: 8px;
		gap: 5px;
		border: none;
		background: black;
		color: white;
	}

	.menu:hover {
		cursor: pointer;
		background: white;
		color: black;
	}

	.menu iconify-icon {
		font-size: 18px;
	}

	.menu span {
		margin-bottom: 3px;
	}

	.menu-dropped {
		width: 100%;
		justify-content: center;
		border-top: 1px solid #626262;
		border-bottom: 1px solid #626262;
	}

	nav ul {
		display: none;
		margin: 0;
		gap: 5px;
		flex-flow: column nowrap;
		height: fit-content;
		width: 100%;
		z-index: 1;
	}

	nav li {
		background: black;
		width: 100%;
		height: 50px;
	}

	nav a:not(.help a) {
		justify-content: center;
		font-size: 20px;
	}

	nav iconify-icon:not(.menu iconify-icon, .help iconify-icon) {
		display: none;
	}

	.help {
		display: none;
	}

	.help-dropped {
		display: inline-block;
		margin: 0 auto;
		background: 0;
		width: 100%;
	}

	.help-dropped a {
		font-size: 20px;
	}

	.help-dropped iconify-icon {
		display: none;
	}

	.help-dropped a:hover {
		background: white;
		color: black;
	}

	.about {
		flex-basis: 100%;
		border: none;
	}

	.about p {
		font-size: 2.5vw;
		width: 90%;
	}

	.about ul {
		width: 50%;
		margin-top: 2vw;
	}

	.about a {
		font-size: 2vw;
	}

	.copyrights {
		margin-top: 2px;
	}

	.copyrights span {
		font-size: 4vw;
	}

	.footer-nav {
		display: none;
	}

	.other {
		display: none;
	}
}

@media (max-width: 480px) {
	nav , .menu , .menu-dropped {
		height: 12vw;
	}

	h1 {
		width: 200px;
	}
}

/* Media Query for Tablets Ipads portrait mode */
@media (min-width: 768px) and (max-width: 1024px) {
	nav {
		height: 7vw;
	}
	h1 {
		font-size: 2.5vw;
	}

	.menu{
		height: 7vw;
		width: 100%;
		text-decoration: none;
		font-style: normal;
		font-weight: bolder;
		font-size: 18px;
		display: flex;
		flex-flow: row ;
		justify-content: center;
		align-items: center;
		padding: 8px;
		gap: 5px;
		border: none;
		background: black;
		color: white;
	}

	.menu:hover {
		cursor: pointer;
		background: white;
		color: black;
	}

	.menu span {
		margin-bottom: 3px;
	}

	.menu-dropped {
		width: 100%;
		justify-content: center;
		border-top: 1px solid #626262;
		border-bottom: 1px solid #626262;
	}

	nav ul {
		display: none;
		margin: 0;
		gap: 5px;
		flex-flow: column nowrap;
		height: fit-content;
		width: 100%;
		z-index: 1;
	}

	nav li {
		background: black;
		width: 100%;
		height: 50px;
	}

	nav a:not(.help a) {
		justify-content: center;
		font-size: 20px;
	}

	nav iconify-icon:not(.menu iconify-icon, .help iconify-icon) {
		display: none;
	}

	.help {
		display: none;
	}

	.help-dropped {
		display: inline-block;
		margin: 0 auto;
		background: 0;
		width: 100%;
	}

	.help-dropped a {
		font-size: 20px;
	}

	.help-dropped iconify-icon {
		display: none;
	}

	.help-dropped a:hover {
		background: white;
		color: black;
	}

	.about {
		flex-basis: 50%;
	}

	.about p {
		font-size: 1.7vw;
		width: 90%;
	}

	.about ul {
		width: 80%;
	}

	.about a {
		font-size: 1.5vw;
	}

	.footer-nav {
		flex-basis: 30%;
	}
}

/* Media Query for Laptops and Desktops */
@media (min-width: 1025px) and (max-width: 1439px){
	nav ul {
		justify-content: center;
		flex-flow: nowrap;
		width: 100%;
	}

	.footer-nav a {
		font-size: 16px;
	}

	.about {
		width: 45%;
	}

	.about p {
		font-size: 14px;
		width: 90%;
	}

	.about ul {
		margin-top: 20px;
	}

	.about a {
		font-size: 13px;
	}

	.about span {
		font-size: 20px;
	}

	.footer-nav {
		flex-basis: 25%;
	}

	.other {
		flex-basis: 25%
	}

	.footer-nav ul {
		width: 100%;
	}

	.about ul {
		width: 100%;
		justify-content: space-evenly;
	}
}

/* Media Query for Large screens */
@media (min-width: 1441px) and (max-width: 1920px) {
	nav {
		height: 3vw;
	}

	nav ul {
		justify-content: center;
		gap: 2.25vw;
	}
	nav a {
		font-size: 1.75vmin;
	}

	.about p {
		font-size: 16px;
		width: 80%;
	}

	.footer-nav h3 {
		margin-left: 30px;
		font-size: 26px;
	}

	.footer-nav ul {
		margin-left: 20px;
	}

	.footer-nav a {
		font-size: 16px;
	}
}